<div class="not-found-wrapper">
    <div class="not-found-container">
        <div class="not-found-left">
            <h1>404</h1>
            <h3>Page not found</h3>
           <!-- <img src="assets/404-icon.png" alt="not-found"> -->
        </div>
        <div class="not-found-right">
            <img src="assets/Logo1.png" alt="Dashboard example">
        </div>  
    </div>
    <div class="not-found-bottom">
            <a routerLink="/dashboard" class="btn btn-back">Back to Home</a>
    </div>
    <app-footer></app-footer>
</div>