<div class="dashboard-container">
    <div class="menu-container">
        <div class="menu-left">
            <h2>Dashboard</h2>
            <div class="menu-grid">
                <div class="menu-item" routerLink="/menu">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/restaurant-menu.png" class="menu-icon" alt="Menu">
                    <span>Menu</span>
                </div>
                <div class="menu-item" routerLink="/profilo">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/user-male-circle.png" class="menu-icon" alt="Profilo">
                    <span>Profilo</span>
                </div>
            </div>
        </div>
    </div>
</div>
