<div class="reset-container">
    <div class="reset-left">
      <h2>Reset Password</h2>
  

      <div *ngIf="showSuccessAlert" class="alert-success">
        Password aggiornata con successo!
      </div>
  
      <form (ngSubmit)="resetPassword()">
        <label for="newPassword">Nuova Password</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="password"
          placeholder="Inserisci una nuova password"
          required
        />
  
        <button type="submit" class="btn btn-signin">Invia</button>
      </form>
    </div>
  
    <div class="reset-right">
      <img src="assets/Logo1.png" alt="Password reset image" />
    </div>
  </div>
  