<div class="profile-container">
    <div class="profile-left">
      <h2>Profilo</h2>
      <div class="profile-grid">
        <div class="profile-item">
          <img src="https://img.icons8.com/ios-filled/100/4a90e2/user-male-circle.png" class="profile-icon" alt="User Icon" routerLink="/informazioniProfilo" />
          <span>Informazioni</span>
        </div>
        <div class="profile-item">
          <img src="https://img.icons8.com/ios-filled/100/4a90e2/restaurant-menu.png" class="profile-icon" alt="Budget" />
          <span>Budget Mensile</span>
        </div>
        <div class="profile-item">
          <img src="https://img.icons8.com/ios-filled/100/4a90e2/calendar.png" class="profile-icon" alt="Report" />
          <span>Resoconto</span>
        </div>
        <div class="profile-item">
          <img src="https://img.icons8.com/ios-filled/100/4a90e2/settings.png" class="profile-icon" alt="Preferenze" />
          <span>Preferenze</span>
        </div>
      </div>
    </div>
  </div>
  