<div class="container">
  <app-sidebar-food></app-sidebar-food>

  <div class="menu">
    <div class="menu-header">
      <h2>Bevande</h2>
      <img
        src="https://img.icons8.com/ios-filled/50/4a90e2/shopping-cart.png"
        class="cart-icon"
        (click)="togglePopup()"
        width="30px"
        title="Visualizza carrello"
      />
    </div>

    <div class="menu-grid">
      <ng-container *ngFor="let item of menu">
        <div class="menu-item">
          <div class="item-icon-name">
            <img
              src="https://img.icons8.com/?size=100&id=TAXvqDCtmqvX&format=png&color=000000"
              class="food-icon"
              width="70px"
              title="Piatto"
              align="center"
            />
            <div>
              <div class="item-name">{{ item.nome }}</div>
              <div class="item-price">{{ item.prezzo | currency:'EUR':'symbol' }}</div>
            </div>
          </div>

          <div class="item-controls">
            <button class="btnInc" (click)="decrementa(item.nome)">-</button>
            <span>{{ quantities[item.nome] || 0 }}</span>
            <button class="btnInc" (click)="incrementa(item.nome)">+</button>
          </div>
        </div>
      </ng-container>
    </div>

    <button class="add-to-cart-btn" (click)="aggiungiAlCarrello()">
      Aggiungi al Carrello
    </button>

    <!-- Popup Carrello -->
    <div class="cart-popup" *ngIf="popupVisible">
      <h3>Carrello</h3>
      <ul>
        <ng-container *ngFor="let item of carrelloItems">
          <li class="cart-item">
            <div class="item-name">{{ item.nome }}</div>
            <div class="item-controls">
              <button (click)="decrementaCarrello(item.nome)">-</button>
              <span>{{ carrelloQuantities[item.nome] || 0 }}</span>
              <button (click)="incrementaCarrello(item.nome)">+</button>
              <button (click)="rimuoviCarrello(item.nome)" class="remove-btn">Rimuovi</button>
            </div>
          </li>
        </ng-container>
      </ul>

      <button class="confirm-btn" (click)="vaiAlCarrello()">Procedi all'acquisto</button>
      <button class="close-btn" (click)="popupVisible = false">Chiudi</button>
    </div>

    <div *ngIf="showSuccessAlert" class="success-alert" align="center">
      Prodotti aggiunti al carrello!
    </div>

    <div *ngIf="messaggioErrore" class="error-alert" align="center">
      {{ messaggioErrore }}
    </div>
    
  </div>
</div>
