<div class="menu">
    <h2>Cibo</h2>
    <div class="menu-grid">
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/hamburger.png" class="menu-icon" alt="Hamburger"><span>Hamburger</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/pizza.png" class="menu-icon" alt="Pizza"><span>Pizza</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/salad.png" class="menu-icon" alt="Insalata"><span>Insalata</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/sushi.png" class="menu-icon" alt="Sushi"><span>Sushi</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/hot-dog.png" class="menu-icon" alt="Hot Dog"><span>Hot Dog</span><input type="number" class="quantity" min="0" value="0"></div>
        
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/taco.png" class="menu-icon" alt="Taco"><span>Taco</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/french-fries.png" class="menu-icon" alt="Patatine"><span>Patatine</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/spaghetti.png" class="menu-icon" alt="Pasta"><span>Pasta</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/chicken-leg.png" class="menu-icon" alt="Pollo"><span>Pollo</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/steak.png" class="menu-icon" alt="Bistecca"><span>Bistecca</span><input type="number" class="quantity" min="0" value="0"></div>
        
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/fish.png" class="menu-icon" alt="Pesce"><span>Pesce</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/bread.png" class="menu-icon" alt="Pane"><span>Pane</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/rice-bowl.png" class="menu-icon" alt="Riso"><span>Riso</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/cheese.png" class="menu-icon" alt="Formaggio"><span>Formaggio</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/egg.png" class="menu-icon" alt="Uova"><span>Uova</span><input type="number" class="quantity" min="0" value="0"></div>
        
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/shrimp.png" class="menu-icon" alt="Gamberetti"><span>Gamberetti</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/soup.png" class="menu-icon" alt="Zuppa"><span>Zuppa</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/croissant.png" class="menu-icon" alt="Croissant"><span>Croissant</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/bacon.png" class="menu-icon" alt="Bacon"><span>Bacon</span><input type="number" class="quantity" min="0" value="0"></div>
        <div class="menu-item"><img src="https://img.icons8.com/ios-filled/100/4a90e2/apple.png" class="menu-icon" alt="Mela"><span>Mela</span><input type="number" class="quantity" min="0" value="0"></div>
    </div>
    <button class="add-to-cart">Aggiungi al Carrello</button>
</div>
