<div class="menu-wrapper">
    <div class="menu-container">
        <div class="menu-left">
            <h2>Menu</h2>
            <div class="menu-grid">
                <div class="menu-item" routerLink="/food">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/restaurant.png" class="menu-icon" alt="Cibo">
                    <span>Cibo</span>
                </div>
                <div class="menu-item" routerLink="/bibite">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/cola.png" class="menu-icon" alt="Bibite">
                    <span>Bibite</span>
                </div>
                <div class="menu-item" routerLink="/dolci">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/cake.png" class="menu-icon" alt="Dolci">
                    <span>Dolci</span>
                </div>
                <div class="menu-item" routerLink="/caramelle">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/candy.png" class="menu-icon" alt="Caramelle">
                    <span>Caramelle</span>
                </div>
            </div>
        </div>
    </div> 
</div>


